body {
    font-family: georgia;
}

header {
    border: 2px solid black; 
    background-color: lightgrey;
    margin-right: 23px;
}

h1 {
    text-align: center;
}


.column-1 {
    background-color: lavender;
 }

.column-2 {
    background-color: tan;
    padding-bottom: 21px;
}

section {
    display: inline-block;
    width: 49%;
    padding: 15px;
    box-sizing: border-box;
    vertical-align: top;
    border: dotted black;
}