<!DOCTYPE html>
<html>
<head>
  <title>Search for a Student</title>
</head>
<body>
  <form actions = "/students" method="GET">
    <input type="text" name="name" placeholder="Name">
    <button type="submit">Search</button>
  </form>
</body>
</html>