<!DOCTYPE html>
<html>
<head>
  <title>Update Student Age</title>
</head>
<body>
  <form actions = "/students" method="PATCH">
    <input type="text" name="name" placeholder="Name">
    <input type="text" name="age" placeholder="New Age">
    <button type="submit">Update</button>
  </form>
</body>
</html>